.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: auto;
}
.container{
    margin: 2rem var(--horzontal-margin);
    flex-grow: 1;
}