.logo1Icon {
    width: 2.494rem;
    position: relative;
    height: 2.5rem;
    overflow: hidden;
    flex-shrink: 0;
}
.personal {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 1.5rem;
    text-transform: capitalize;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
}